# Copy this file to .env.proton. Never commit the populated file.
# Obtain PrivateKey from a Proton VPN WireGuard configuration downloaded from
# account.protonvpn.com -> Downloads -> WireGuard configuration.
PROTONVPN_WIREGUARD_PRIVATE_KEY=

# On production, obtain this with:
# docker network inspect music --format '{{(index .IPAM.Config 0).Subnet}}'
MUSIC_DOCKER_SUBNET=172.23.0.0/16
